name: feed/shuffle.xml

on:
  schedule:
    - cron: "0 13 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          bash script/feed/shuffle.sh
          bash script/push.sh feed/shuffle.xml ${{ secrets.GITHUB_TOKEN }}
